<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Garage Dimension Recommender</title>
</head>
<body>
    <div class="container">
        <br>
        <h1>Garage Dimension Recommender</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="csv_file">Upload your CSV File</label>
                <input type="file" name="csv_file" class="form-control-file">
            </div>
            <br>
            <div class="form-group">
                <label for="occupancy_rate">Target Occupancy Rate</label>
                <input type="text" name="occupancy_rate" value="{{ occupancy_rate }}" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
                <label for="levels">Garage Levels</label>
                <input type="text" name="levels" value="{{ levels }}" class="form-control" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if dimensions %}
        <div class="mt-4">
            <h2>Recommended Garage Dimensions</h2>
            <p>Levels: {{ dimensions.Levels }}</p>
            <p>Cars per level: {{ dimensions['Cars per level'] }}</p>
            <p>Motorbikes per level: {{ dimensions['Motorbikes per level'] }}</p>
        </div>
        {% endif %}

        {% if error_message %}
        <div class="mt-4 alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9Mvc3Z" crossorigin="anonymous"></script>
</body>
</html>